@import '../../scss/index.module.scss';

.Form {
  background-color: $lightyellow;
  padding: 30px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint(mobile) {
    flex-wrap: wrap;
    padding: 10px 0;
    justify-content: space-evenly;
  }
  @include breakpoint(iPad) {
    padding: 10px 0;
  }
}

.Input {
  border: 2px solid $darkblue;
  border-radius: 5px;
  color: $darkblue;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 5px;
  outline: none;
  min-width: 500px;
  @include breakpoint(mobile) {
    min-width: 90%;
    margin: 0 20px;
  }
  @include breakpoint(iPad) {
    min-width: 70%;
  }
}

.ButtonGreen,
.ButtonRed {
  background: $green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-left: 5px;
  height: 52px;
  width: 50px;
  outline: none;
  transition: 0.15s ease-in-out;
  @include breakpoint(mobile) {
    margin-top: 10px;
    height: 62px;
    width: 33%;
  }
}

.ButtonRed {
  background: $red;
}

.ButtonGreen:active,
.ButtonRed:active {
  transform: scale(0.8);
}

.FilterTask {
  min-width: 500px;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  @include breakpoint(mobile) {
    min-width: 300px;
    display: block;
    margin: 10px;
  }
  @include breakpoint(iPad) {
    margin: 10px 0;
  }
}
