.TaskContainer {
  background-color: var(--lightyellow);
  border-radius: 5px;
  height: 60px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
}

.Task {
  color: var(--darkblue);
  list-style: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 10px;
}

.ButtonWrapper {
  padding-right: 10px;
}

.ButtonGreen,
.ButtonRed {
  background: var(--green);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-left: 5px;
  height: 52px;
  width: 50px;
  outline: none;
  transition: 0.15s ease-in-out;
}

.ButtonRed {
  background: var(--red);
}

.ButtonGreen:active,
.ButtonRed:active {
  transform: scale(0.8);
}
