@import '../../../scss/index.module.scss';

.TaskContainer {
  background-color: $lightyellow;
  border-radius: 5px;
  min-height: 60px;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  @include breakpoint(mobile) {
  }
}

.Task {
  color: $darkblue;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 10px;
  flex-basis: 58%;
  @include breakpoint(mobile) {
    font-size: 1.2rem;
  }
}

.ButtonWrapper {
  padding-right: 10px;
  display: flex;
}

.ButtonGreen,
.ButtonRed {
  background: $green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-left: 5px;
  height: 52px;
  width: 50px;
  outline: none;
  transition: 0.15s ease-in-out;
  @include breakpoint(mobile) {
    height: 42px;
    width: 40px;
  }
}

.ButtonRed {
  background: $red;
}

.ButtonGreen:active,
.ButtonRed:active {
  transform: scale(0.8);
}

.Completed {
  transform: translateX(90px);
  transition: 0.4s ease-in-out;
  text-decoration: line-through;
  color: $darkblue;
}

.InCompleted {
  transition: 0.4s ease-in-out;
}
