.Active {
  background-color: var(--lightyellow);
  border-radius: 5px;
  color: var(--darkblue);
  margin-left: 50px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px 20px;
}

.ActiveTasks {
  background-color: white;
  border: 2px solid var(--darkblue);
  border-radius: 3px;
  color: var(--darkblue);
  font-size: 1.6rem;
  padding: 5px;
  margin-left: 20px;
}
