@import '../../../scss/index.module.scss';

.Active {
  background-color: $lightyellow;
  border-radius: 5px;
  color: $darkblue;
  margin-left: 50px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px 20px;
}

.ActiveTasks {
  background-color: white;
  border: 2px solid $darkblue;
  border-radius: 3px;
  color: $darkblue;
  font-size: 1.6rem;
  padding: 5px;
  margin-left: 20px;
}
