.Complete {
  background-color: var(--green);
  border-radius: 5px;
  color: white;
  margin-right: 50px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px 20px;
}

.CompletedTasks {
  background-color: white;
  border-radius: 3px;
  color: var(--green);
  font-size: 1.6rem;
  padding: 5px;
  margin-left: 20px;
}
