@import '../../scss/index.module.scss';

.TaskListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-bottom: 30px;
  @include breakpoint(mobile) {
    margin-left: 20px;
    margin-bottom: 30px;
  }
  @include breakpoint(iPad) {
    margin-left: 22px;
    margin-bottom: 30px;
  }
}

.TaskList {
  max-height: 450px;
  max-width: 600px;
}
